* {
	padding: 0;
	margin: 0;
}
h1 {
	text-align: center;
	padding-bottom: 30px;
}
pre {
	font-size: 20px;
	margin-bottom: 60px;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	outline: 2px solid teal;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-inline: 50px;
}


.output-container {
	display: flex;
	gap: 100px;
}

.output-container__text {
	font-size: 20px;
	width: 200px;
	outline: 2px solid pink;
	min-height: 20px;
	text-align: center;
}


input {
	border: 2px solid lightsalmon;
	width: 200px;
	min-height: 20px;
	font-size: 20px;
}
.output-container__item p:nth-last-child(2) >input {
	flex-grow: 1;
	background-color: aqua;
}

.output-container__output {
	
	max-width: 200px;
	border: 2px solid pink;
	min-height: 20px;
	font-size: 20px;
}
.button-one {
	width: 200px;
	border: 2px solid pink;
	min-height: 20px;
	font-size: 20px;
}

.output-container__item {
	display: flex;
	flex-direction: column;
	gap: 20px;
}



